<html>
    <head>
        <title>Timestamp Microservice: Free Code Camp API Basejump</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <link href='./styles.css' rel='stylesheet' type='text/css' />
    </head>
    <body>
        <h1>My Timestamp Microservice</h1>
        <h2>A Free Code Camp API Basejump</h2>
        <div class='examples'>
            <h3>Example Usage:</h3>
            <code>https://hurley-fcc-timestamp-api.herokuapp.com/December%2015,%202015</code><br>
            <code>https://hurley-fcc-timestamp-api.herokuapp.com/1450137600</code>
            <h3>Example Output:</h3>
            <code>{ "unix": 1450137600, "natural": "December 15, 2015" }</code>
        </div>
    </body>
</html>
